$content-weidth: 1550px;

$primery-color: #fff;
$silver-color: #f3f3f3;
$silver-darken-color: #dddddd;
$shaodw-color-lighter: #a0a0a035;
$shaodw-color-darken: #00000065;
$mobile-small: 330px;
$mobile-medium: 540px;
$mobile-large: 650px;
$mobile-xlarge: 720px;
$tablet-width: 920px;
