@import "/src/styles/vars";

.opt {
	display: block;
	color: inherit;
	font-size: 15px;
	font-weight: 600;
	text-align: left;
	padding: 8px 10px;
	border-radius: 8px;
	text-decoration: none;
	background-color: $primery-color;
	&:hover {
		background-color: #dadada;
	}
}
