@import "/src/styles/vars";

.btn {
	color: inherit;
	position: relative;
	display: inline-block;
	text-decoration: none;
	padding: 8px;
	border-radius: 6px;
	margin-top: 8px;
	font-size: 16px;
	font-weight: 500;
	&:hover {
		background-color: $silver-darken-color;
	}
	&.active {
		&:hover {
			background-color: inherit;
		}
		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 3px;
			border-radius: 4px;
			background-color: #000;
		}
	}
}
